
.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
  }

  .myHeader {
    border: 5px outset red;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: right;
    size: 40px;
  }