@using System.Collections.Generic
@using System.Collections
@inject IJSRuntime JSRuntime
@using FinancialApp.Data



<div class="form-group">
    <label asp-for="selectsearchid" class="control-label">@SelectSearchLabel </label>
    
        <select class="custom-select" @bind-value="SelectedItemKey" @onchange="SelectionChange" @bind-value:event="oninput" for="selectsearchid">
            <option value="">--Please Select--</option>
            @foreach (var eachitem in Items)
            {
                <option value="@eachitem.GetName()"> @eachitem.GetName()</option>
            }
        </select>   
</div>


<div class="input-group" >
    <input class="form-control"/>
</div>



@code {

  

    [Parameter]
    public string SelectSearchLabel {get; set;}

    [Parameter]
    public IIDEntry[] Items { get; set; }
    
    [Parameter]
    public EventCallback<string> SelectedItemKeyChanged { get; set; } 
    [Parameter]    
    public string SelectedItemKey {get; set;}
    
   

    void TestOut (string t){

        Console.WriteLine(t);

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("renderjQueryComponents");
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task SelectionChange(){

        await SelectedItemKeyChanged.InvokeAsync(SelectedItemKey);
    }
    
   
}
