@page "/EditTransactions"

if(transactions == null){

    <p><em>Loading...</em></p>

}
else{
    <table class="table">
        <thead>
            <tr>
                <th>Event</th>
                <th>Name</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <form>
        <h4>Add Event</h4>
        <div class="form-group">
            <label for="Name" class="control-label">Name</label>
            <!--<input for="Name" class="form-control" />-->
        </div>
    </form>
   
 

}

@code{


    //public TransactionListing transactions;




}