@page "/EditEvents"

<h3>Add Event</h3>

<form>
    Event Name:
    <input id="AccountHolderName" />

</form>
<button @bind="ProcessAddEvent">Create Event</button>

<BR><BR><BR><BR>

<!--#####################################################################-->

<H3>Edit Event</H3>

<form>
    Select Event:
    <input id="eventSelect" list="eventList" @onchange="@((args) => selectedEvent = args.Value.ToString())"/>
    <datalist id="eventList">
        @foreach (var e in knownEvents)
        {
            <option value="@e"></option>
        }
    </datalist>
    New Event Name:
    <input id="editedName" value="@selectedEvent"/>


</form>
<button @bind="EditEvent">Save</button>

<BR><BR><BR><BR>

<!--#####################################################################-->



@code{

    public List<string> knownEvents = getEventsFromDB();
    public String selectedEvent;

public async void PrccessAddEvent(){

    //add event to DB


}

static List<String> getEventsFromDB(){

    List<String> eventsAPI = new List<string>();

    //something something API GET
    eventsAPI.Add("Test");


    return eventsAPI;
}

public async void EditEvent(){

  //update account info
    

}

}