@page "/TestComponent"
@using System.Net.Http.Json
@using FinancialApp.Data
@using Newtonsoft.Json
@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.NavigationManager navigation
@inject NavigationManager NavigationManager
@using System.Reflection

@if (listing.GeneralAccountEntries == null)
{
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <h3>TEST TEST TEST</h3>
    <SelectSearch SelectSearchLabel="TestComponent" Items=@softaccountListing @bind-SelectedItemKey="record.fromAccountName"></SelectSearch>
    
    
    <label class="control-label">Boud: @record.fromAccountName</label>

    <GroupSelection Label="Test Group" List="Enum.GetValues(typeof(TransactionType)).select(0=> o.ToSting()).ToArray())" @bind-Value="@record.TransactionMethod"></GroupSelection>


}

@code{


    private GeneralAccountEntry selectedGenAcct = new GeneralAccountEntry();
    private AccountEntry selectedSoftAcct = new AccountEntry();
    public ListingsResponse listing = new ListingsResponse();
    public AccountEntry[] softaccountListing;
    public Transaction record = new Transaction();
    MemberInfo[] memberInfo;

    protected override async Task OnInitializedAsync()
    {

        HttpResponseMessage response = await Http.GetAsync("http://localhost:7071/api/listings");
        string responseBody = await response.Content.ReadAsStringAsync();
        listing = JsonConvert.DeserializeObject<ListingsResponse>(responseBody);

        selectedGenAcct = listing.GeneralAccountEntries[0];
        softaccountListing = selectedGenAcct.SoftAccountList;



    }
  

}
